// file containing all of the custom components that are small enough not to warrent their own file


.container {
  height: 100vh;
  width: 100%;
}
.text-over-image {
  color: white;
  text-align: center;
}
.center-paragraph {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.top-margin {
  margin-top: 75px;
}
.form-container {
  @extend .top-margin;
  padding: 75px;
  background-color: #F3F3F3;
  border-radius: 25px;
  padding: 50px;
}
.channel-image {
  background-color: #43A047;
}
@media screen and (max-width:600px) and (min-width:455px) {

  .channel-image {
    background-color: #43A047;
  }
  .channel-image img {
    max-width: 432px;
    min-width: 432px
  }
}
.channel-input {
  padding: 0;
}
.profile-pic {
  border-radius: 75px;
  max-width: 45px;
  max-height: 45px;
}
