<md-content ng-controller="ChannelsCtrl"  ng-style="style" layout="row" layout-align="center start" layout-sm="column" layout-align-sm="start center" ng-cloak layout-wrap layout-padding>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <!-- TODO: Fill in with a proper image -->
      <div class="channel-image">
        <img ng-click="/angular-chat" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>


</md-content>
