<md-content ng-controller="ChannelsCtrl"  ng-style="style" layout="row" layout-align="center start" layout-sm="column" layout-align-sm="start center" ng-cloak layout-wrap layout-padding>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img ng-click="selectChannel('angular')" ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">AngularJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things AngularJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/angular-chat')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img style="padding-bottom:12px; padding-top:12px;" ng-src="../../images/ionic-logo.png" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">Ionic</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things Ionic Framework
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/ionic')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img ng-src="../../images/JavaScript-logo.png" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">Javascript</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things Javascript
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/javascript')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img ng-src="../../images/nodejs-logo.png" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">NodeJS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things NodeJS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/nodejs')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img ng-src="../../images/sass.png" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">SASS</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things SASS/SCSS
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/sass')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex="25" flex-sm="80" class="channel">
    <md-card-title>

      <div class="channel-image">
        <img ng-src="../../images/HTML5_logo.png" class="md-card-image" alt="Washed Out">
      </div>

      <md-card-title-text layout-padding>
        <span class="md-headline">HMTL5</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      A chat room for talking about all things HTML5
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button layout-fill class="md-accent" ng-click="selectChannel('/html5')">
        Enter Channel
      </md-button>
    </md-card-actions>
  </md-card>

</md-content>
