<md-content ng-controller="LoginCtrl"  ng-style="style" layout="row" layout-align="center start" ng-cloak>

  <div flex="33" flex-sm="80" class="form-container md-raised" layout-align="center center" >
    <h4 style="color:red">{{warning}}</h4>
    <md-input-container class="md-accent">
      <label>Email</label>
      <input type="email" ng-model="user.email">
    </md-input-container>
    <md-input-container class="md-accent">
      <label>Password</label>
      <input type="password" ng-model="user.password">
    </md-input-container>
    <md-button layout-fill ng-click="login()" class="md-raised md-accent">Login</md-button>
  </div>

</md-content>
