<md-content ng-controller="MainCtrl" ng-style="style" class="md-padding container" layout="column" layout-wrap layout-align="start center" ng-cloak>

  <div  class="center-paragraph">
    <h1 class="md-headline text-over-image">Chat with people all over the world, we have channels of all types so your bound to find something that interestes you</h1>
  </div>
  <div layout="row" layout-sm="column" layout-align="center start" layout-align-sm="start center" >
    <md-button flex="100" ng-href="/#/login"  class="md-raised md-accent">
      Login
    </md-button>
    <md-button flex="100" ng-href="/#/register" class="md-raised md-accent">
      Register
    </md-button>
  </div>

</md-content>
