<md-content ng-controller="MainCtrl" ng-style="style" class="md-padding container" layout="column" layout-wrap layout-align="center center">

  <div layout-align="center center" class="center-paragraph">
    <h1 flex class="md-headline text-over-image">Chat with people all over the world, we have channels of all types so your bound to find something that interestes you</h1>
  </div>
  <div flex layout="row" layout-sm="column" layout-align="center start">
    <md-button flex="75" class="md-raised md-accent">Login</md-button>
    <md-button flex="75" class="md-raised md-accent">Register</md-button>
  </div>
</md-content>
