<md-content layout-align="center start" layout="row" ng-controller="RegisterCtrl" ng-style="style" ng-cloak>

  <div class="form-container md-raised" flex-sm="80" flex="33" layout-align="center center">
    <md-input-container class="md-accent">
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
    <md-input-container class="md-accent">
      <label>Password</label>
      <input ng-model="user.password" type="password">
    </md-input-container>
    <md-button class="md-raised md-accent" layout-fill ng-click="register()">Register</md-button>
  </div>

</md-content>
